.permalink {
  color: #abe;
  font-size: 24px;
  text-decoration: none;
}

.post-card{
  height: 400px;
  width: 100%;
  padding-right: 20px;
  margin-right: 19px;
}

.post-actions.v-card__actions{
  margin-bottom: 13px;
  margin-top: 13px;
  padding: 0px;
}

.v-card-h{
  margin-bottom: 8px;

}

.v-post-card.v-post-card.v-card.v-sheet.theme--light{
  width: 430px;
  padding: 31px 21px;
}

.v-card>:last-child:not(.v-btn):not(.v-chip).post-card-text{
  margin: 1px 32px !important;
}

.container{
  width: 1580px;
}

.post-btn {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  width: unset;
  padding: 6px;
  margin-right: 6px;
  font-weight: bold;
  color: #76A2A5;
  display: flex;
  flex-direction: row;
}

.post-btn.post-btn-likes.v-btn{
  background-color: #2BD8A7 !important;
  color: #ffffff !important;
}

.post-btn.post-btn-follow.v-btn {
  background-color: #4ABDDB !important;
  color: #ffffff !important;
}