body {
  margin: 0px;
  padding: 0px;
}

div {
  display: flex;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

.wrapper {
  flex-direction: column;
}

.btn{
  position: relative;
  display: block;
  padding: 6px 4px 6px 4px;
  font-size: 16px;
  font-weight: bold;
  border-width: 0;
  border-radius: 8px;
  background-color: #5dd0ee;
  color: #ffffff;
}

.btn.blue {
  background-color: #5dd0ee;
}

.btn.green {
  background-color: #5deec6;
}

.btn:hover {
  background-color: #23b6dc;
}

.btn.blue:hover {
  background-color: #23b6dc;
}

.btn.green:hover {
  background-color: #4cd4ae;
}

.card {

}
