
.pre-post-position.v-sheet{
  margin-bottom: 50px;
}

.v-btn{
  border-radius: 5px;
}

.pre-post-btn-like.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat){
  background-color: #5DD0EE;
}

.pre-post-btn-follow.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat){
  background-color: #5DEEC6;

}

.pre-post-img{
  height: 250px;
}